body { /* 0,0,0,1 */
    color: blue;
}

/* change color of all paragraphs and list items */
p, 
li {
    color: green;
}

div#top-level .read-more p.yellow.content, 
.content-heading { /* 0,1,2,2 */
    color: red;
}

body section.main-wrapper #primary article.doorknob article > p { /* 0,1,2,5 */
    color: orange; 
}

/* target child ellements */
section h1 { /* 0,0,0,2 */
    color: darkred;
}

body h1 { /* 0,0,0,2 */
    color: orange;
}

/* style class */
.secondary-heading { /* 0,0,1,0 */
    color: purple;
}

/* style an id*/
#main-section { /* 0,1,0,0 */
    color: pink;
    font-weight: bold;
}
/* link visted hover active*/
a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color: grey;
}

a:hover {
    color: black;
}

a:active {
    color: white;
}

a[href="http://algonquincollege.com"] {
    color: green;
}

li:nth-child(odd) {
    background-color: turquoise;
}