.information {
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
}

.index-header, .index-footer {
    color:deepskyblue;
}

.site-title {
    color:indigo;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

li:nth-child(odd) {
    background-color: rgb(145, 137, 195);
}

ul {
    list-style: square;
}

a:link {
    background-color:rgb(242, 172, 255);
}

a:visited {
    background-color:rgb(72, 137, 221);
}

a:hover {
    background-color:rgb(204, 174, 240);
}

a:active {
    background-color:rgb(112, 160, 207);
}

a[href="notes.html"] {
    text-decoration: none;
    border-style:solid;
}

a[href="index.html"]{
    text-decoration: none;
    border-style:solid;
}