body {
    background-color: #aad4cf;
}

/* Starfish wide picture */
header {
    position: relative;

}

/* Lone Starfish Text */
.h1 {
    position: absolute;
    top: 210px;
    right: 290px;
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Life of a starfish header */
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Image of close up starfish moved to correct position */
#lone-starfish {
    position: relative;
    width: 170px;
    height: 170px;
    border: 10px;
    padding-right: 10px;
    margin: none;
    float: left;
}
/* contact to learn more header */
h3 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* style for contact information */
.contact2 {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.name {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
}

.email {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
}

.message {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
}
h4 {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin-left: 10px;
}
.question {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
}