body {
    background-color: #aad4cf;
    padding: 100px;
    padding-top: 0px;
    border: 100px;
    border-top: 0px;
    margin: 100px;
    margin-top: 0px;
}
/* background box with light blue colour */
.background {
    background-color: #D4E9E7;
    position: relative;
    width: 1500px;
    height: 1550px;
}

/* Starfish wide picture */
#lone-starfish-wide {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 1500px;
}

/* Lone Starfish Text */
.h1 {
    position: absolute;
    top: 320px;
    right: 535px;
    color: white;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* navigation tabs below header */
.home {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    padding-left: 183px;
    padding-right: 190px;
    border-style: solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.story {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    padding-left: 183px;
    padding-right: 190px;
}

.contact {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    padding-left: 190px;
    padding-right: 170px;
    border-style: solid;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

/* navigation links below header */
a:link, a:visited {
    color: black;
    text-decoration: none;
}

/* Life of a starfish header */
.life {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    padding-left: 15px;
    margin-top: 120px;
}
/* paragraph with the life of a starfish */
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}
/* Image of close up starfish moved to correct position */
#lone-starfish {
    width: 150px;
    height: 150px;
    padding-right: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
    float: left;
}

/* facts about starfish header */
.facts {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 15px;
    margin-bottom: 30px;
    margin-top: 50px;
}
/* unordered list */
ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* contact to learn more header */
h3 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 15px;
}

/* style for contact information */
.contact2 {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.name {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    border-style: none;
}

.email {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    border-style: none;
}

.message {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    border-style: none;
}
h4 {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin-left: 10px;
    border-style: none;
}
.question {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    border-style: none;
}