@media screen and (min-width: 400px) and (max-width: 1000px) {
  #main-banner {
    position: relative;
    width: 400px;
  }

  .navb {
    background-color: black;
    width: 400px;
    height: 350px;
    position: relative;
  }

.orangeb {
    background-color: #C68D00;
    margin: 10px;
    width: 355px;
    height: 150px;
    top: 20px;
    left: 20px;
    right: 20px;
    position: absolute;
  }

.home {
  position: absolute;
  top: 150px;
  left: 185px;
}

.about-us {
  position: absolute;
  top: 180px;
  left: 173px;
}

.services {
  position: absolute;
  top: 210px;
  left: 177px;
}

.team {
  position: absolute;
  top: 240px;
  left: 186px;
}

.contact {
  position: absolute;
  top: 270px;
  left: 179px;
}

.menu input[type=text] {
  position: relative;
  bottom: 330px;
  left: 112px
}

.welcome {
  background-color: black;
  opacity: 50%;
  width: 400px;
  height: 220px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 9px;
  right: 40px;
  bottom: 200px;
}


h1 {
  position: absolute;
  top: 370px;
  color: white;
  text-align: center;
}

.hp {
  position: absolute;
  top: 450px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  text-align: left;
  margin: 10px;
}

/* .connectb {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
} */

#about-us {
  width: 380px;
  margin: 10px;
}

.about {
  position: absolute;
  width: 400px;
  height: 350px;
  top: 658px;
  background-color: wheat;
}

h4 {
  position: relative;
  left: 10px;
  bottom: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
}

.p1 {
  position: relative;
  bottom: 70px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin: 10px;
}

.h3services {
  position: absolute;
}







}